.page-wrapper {
    height: calc(86vh);
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1170px;
}

@media screen and (max-width: 1250px) {
    .page-content {
        width: 90%;
    }
}
