form {
    width: 85%;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

label {
    display: flex;
    width: 100%;
    margin-bottom: 1.5em;
    justify-content: space-between;
}

input, textarea {
    width: 75%;
}

textarea {
    resize: none;
}

button[type="submit"] {
    width: 40%;
    height: 3em;
}

.form-submitWrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1250px ){
    label {
        flex-direction: column;
    }

    input, textarea {
        width: 100%;
    }
}
