.footer-wrapper {
    display: flex;
    height: 6vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #264653;
    right: 0;
    color: white;
}

.footer-content {
    display: flex;
    width: 1170px;
    justify-content: center;
}

.footer-wrapper span {
    font-size: 17px;
    font-weight: 700;
}
